<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="">
</head>
<body>
	<form method="post" action="/login">
		<input type="text" name="username" id="username"/><br/>
		<input type="password" name="userpwd" id="userpwd"/><br/>
		<button type="submit">登录</button>
	</form>
</body>
</html>