  <script src="/static/js/main.js"></script>
  <ol class="breadcrumb">
    <li>
      <a href="/">首页</a>
    </li>
    <li>
      <a href="/upload/<%=folder%>">上传图片</a>
    </li>
    <li>
    	<a href="javascript:addFolder()">添加相册</a>
    </li>
  </ol>